<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
		</head>
		<body>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#">Lynx</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/about">About Me</a></li>
							<li><a href="mailto:blacklightsage@gmail.com">Contact Me</a></li>
						</ul>
					</nav>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; 2019 © Lynx.</li>
					</ul>

			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:blacklightsage@gmail.com">email</a></li>
	        		<li><a href="https://github.com/whitesage">github.com/whitesage</a></li>
				</ul>
			</footer>

			<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
